{
  "root": true,
  "parser": "@typescript-eslint/parser",
  "plugins": [
    "@typescript-eslint"
  ],
  "extends": [
    "eslint:recommended",
    "plugin:@typescript-eslint/eslint-recommended",
    "plugin:@typescript-eslint/recommended",
    "plugin:@shopify/react",
    "plugin:@shopify/prettier"
  ],
  "rules": {
    "@shopify/jsx-no-hardcoded-content": "off"
  },
  "env": {
    "browser": true,
    "node": true
  }
}
